.vue3-waterfall-wrapper[data-v-2bd82683] {
  width: 100%;
  position: relative;
  margin: 0 auto;
}
.waterfall-item[data-v-2bd82683] {
  position: absolute;
  transition: all 0.3s;
  /* animation: scaleItem-2bd82683 0.3s linear forwards; */
}
.waterfall-over-message[data-v-2bd82683] {
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #999;
}
.dot-wrapper[data-v-2bd82683] {
  padding: 10px 0;
  text-align: center;
}
.dot-wrapper .dot[data-v-2bd82683] {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(169, 169, 169, 0.8);
  margin: 0 2px;
}
.dot-wrapper .dot[data-v-2bd82683]:nth-of-type(2n) {
  animation: dotScale-2bd82683 0.4s linear infinite alternate;
}
.dot-wrapper .dot[data-v-2bd82683]:nth-of-type(2n-1) {
  animation: dotScale-2bd82683 0.4s linear 0.4s infinite alternate;
}
@keyframes dotScale-2bd82683 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
  }
}
@keyframes scaleItem-2bd82683 {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
